.text-frame {
	background-color: #777799;
}

.text-frame-data {
	background-color: #ffffff;
}

.board-page-table {
	width: 500px;
}

.help-page-table {
	width: 500px;
}

.text-box {
	background-color: #f2f2f2;
}

.text-box.highlight {
	background-color: #e4e4ff;
}

.release-info {
	text-align: left;
	width: 500px;
	color: #0000bb;
}

#container {
  display: table;
  text-align: center;
}

.vchess-game-links div.button {
  display: inline;
}
