.boardFrame {
	margin-left:auto;
	margin-right:auto;
	width:400px;
/*	background-color: #eeffff; */
  background-color: #DACEA9; 
	padding: 2;
	border-spacing: 2;
}

.boardCoord {
	color: #666666;
}

.board {
	border-spacing: 0;
	padding: 0;
}

.boardSquareWhite {
/*	background-color: #ffffff; */
  background-color: #F5f8cE;
/*	background-image: url(images/default/wsquare.jpg); */
	padding: 2;
}

.boardSquareBlack {
/*	background-color: #cccccc; */
    background-color: #DACEA9; 
/*	background-image: url(images/default/bsquare.jpg); */
	padding: 2;
}

.textFrame {
	background-color: #777799;
}

.textFrameData {
	background-color: #ffffff;
}

.boardPageTable {
	width: 600;
}

.helpPageTable {
	width: 600;
}

.textBox {
	background-color: #f2f2f2;
}

.textBoxHighlight {
	background-color: #e4e4ff;
}

.releaseInfo {
	text-align: left;
	width: 500;
	color: #0000bb;
}

